.glass{
    background: rgba(255, 255, 255, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    width: 100%;
    margin:40px auto;
}
.title5{
    display: block;
    width: 12rem;
    flex: 1;
    margin-left:53%;
    transform: translate(-30%,0px);
    margin-top: -1.8rem;
}

.bar_bill{
    display: flex;
    justify-content: space-between;
    alignItems: center;
    width: 100%
}
